IO_LOC "clk" H11;
IO_LOC "din" P15;
IO_LOC "bck" N15;
IO_LOC "ws" P16;
IO_LOC "amp_shutdown" T9;


IO_PORT "clk" IO_TYPE=LVCMOS33;
IO_PORT "din" IO_TYPE=LVCMOS33;
IO_PORT "bck" IO_TYPE=LVCMOS33;
IO_PORT "ws" IO_TYPE=LVCMOS33;
IO_PORT "amp_shutdown" IO_TYPE=LVCMOS33;